/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца + 
✦ card__like-button — для кнопки Like рядом с иконкой + 
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main--text);
  background: var(--page-gradient);
  background-attachment: fixed;
  background-size: cover; 
  display: grid;
  gap: 100px;
  justify-content: center;
  font-variation-settings: var(--main--font--wdth);
}

.header {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  text-align: center;
  font-family: var(--alt--text);
  border: 2px solid var(--Themes-mainColor, rgba(0, 0, 0, 1));
  text-transform: uppercase;
  inline-size: var(--width--size);
  padding-block-start: 120px;
  padding-block-end: 120px;
  margin-block-start: 100px;
}

.logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  }

.main__title {
  font-size: 14px;
  font-family: var(--alt--text);
  padding-block-start: 20px;
}

.background__image {
  inline-size: 100%;
}

.filter__saturate {
  filter: saturate(99%);
}

.filter__hue {
  filter: hue-rotate(99deg);
}

.filter__grayscale {
  filter: grayscale(313%);
}

.filter__sepia {
  filter: sepia(66%);
}

.filter__contrast {
  filter: contrast(66%);
}

.filter__brightness {
  filter: brightness(99%);
}

.filter__opacity {
  filter: opacity(33%);
}

.filter__mix {
  filter: brightness(33%), contrast(33%), sepia(33%), grayscale(33%), hue-rotate(33deg), saturate(33%);
}

.image__block { 
  position: relative;
  display: inline-block;
  }

.image__label {
  position: absolute;
  top: 28px;
  right: 26px;
  font-family: var(--alt--text);
  font-size: 14px;
  color: var(--Themes-mainColor);
  mix-blend-mode: hard-light; 
  opacity: 0.5;               
  text-transform: uppercase;
  text-shadow:
      -1px -1px 0 var(--Themes-altColor),
       1px -1px 0 var(--Themes-altColor),
      -1px  1px 0 var(--Themes-altColor),
       1px  1px 0 var(--Themes-altColor); 
}

@supports (-webkit-text-stroke: 1px var(--label-stroke-color)) {
  .image__label {
    text-shadow: none;                  
    color: transparent;               
    -webkit-text-stroke: 1px var(--label-stroke-color);  
  }
}

.content {
  display: grid;
  gap: 49px;
  inline-size: var(--width--size);
  list-style: none;
}

.article__block {
  background-color:  rgba(255, 255, 255, 1);
  border: 2px solid var(--Themes-mainColor, rgba(0, 0, 0, 1));
}

.article__name {
  font-variation-settings: var(--alt--font-wdth);
  font-size: 18px;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  padding-block-start: 4px;
  padding-block-end: 4px;
}

.info__block {
  display: grid;
  gap: 25px;
}

.text__description {
  font-size: var(--text-size);
  font-variation-settings: var(--main--font--wdth);
  padding-inline-start: var(--padding-text);
  padding-inline-end: var(--padding-text);
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.like__section {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  padding-inline-end: var(--padding-text);
  padding-block-end: var(--padding-text);
  gap: 1px;
}


.card__icon-button {
  background: none;
  border: none;
  transition: outline 0.3s ease;
  align-self: center;
  block-size: 34px;
  display: flex;
  align-items: center;
}

.card__like-button {
  background: none;
  border: 2px solid var(--Themes-mainColor);
  inline-size: 130px;
  block-size: 38px;
  font-family: var(--alt--text);
  font-size: 14px;
  font-weight: 400;
}

.floppy {
  inline-size: 28px;
  block-size: 28px;
  position: relative;
  z-index: 3;
  fill: var(--button-text-color);
  mix-blend-mode: difference;
}

.save__section { 
  padding-block-start: 50px;
  padding-block-end: 100px;
  display: flex;
  justify-content: center;
}

.save__button {
  background: var(--Themes-altColor, white);
  color: var(--Themes-mainColor);
  inline-size: 306px;
  block-size: 84px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-family: var(--alt--text);
  font-size: 14px;
  font-weight: 400;
}

.button--animated {
  position: relative;
  overflow: hidden;
}

.button--animated::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--button-bg-color);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.button--animated:hover::before {
  transform: translateX(0);
}

.button--animated .button__text {
  position: relative;
  z-index: 1;
  color: var(--button-text-color);
  mix-blend-mode: difference;
}

.button--animated svg {
  position: relative;
  z-index: 1;
  fill: var(--button-text-color);
  mix-blend-mode: difference;
}

.save__dialog {
  display: none;
  font-family: var(--alt--text);
  text-transform: uppercase;
}

.save__dialog[open] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  padding: 30px 35px;
  inline-size: clamp(341px, -4159.00px + 1200.00vw, 353px);
}

.dialog__info {
  display: grid;
  grid-template-columns: min-content 1fr;
  justify-content: center;
  justify-items: center;
  gap: 22px;
  inline-size: 261px;
}

.save__dialog::backdrop {
  background: rgba(0, 0, 0, 0.75);
}

.save__dialog__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.modal__button {
  block-size: 38px;
  inline-size: 260px;
  align-self: center;
  background-color: transparent;
  font-family: var(--alt--text);
  text-transform: uppercase;
  padding: 0;
}

.floppy__modal {
  inline-size: 39px;
  block-size: 39px;
  align-self: center;
}

.button__style {
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.button__style:focus {
  outline: none;
}

.button__style:focus-visible {
  box-shadow: 2px 2px 0 0 var(--Themes-mainColor);
}

.card__icon-button:hover .main-body,
.card__icon-button:hover .core {
  fill: var(--accent-color);
}


.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--Themes-mainColor);
}

.card__icon-button:hover {
  cursor: pointer;
}

.like-icon {
  transform-origin: center;
  width: 39px;
  height: 36px;
}

.sparks {
  fill: var(--color-body-heart);
  opacity: 0;
}

.main-body {
  fill: var(--color-none-body-heart);
  transition: fill .3s linear; 
}

.core {
  fill: var(--color-none-body-heart);
  transition: fill .3s linear .03s; 
}

.contour {
  fill: var(--accent-color);
}


/* Клика-лайк */
.like-icon.is-liked .main-body {
  fill: var(--color-body-heart);
  transition: fill .3s linear .05s; 
}

.like-icon.is-liked .core { 
  fill: var(--color-body-heart);
  transition: fill .3s linear; 
}

.like-icon.is-liked .contour { 
  fill: var(--color-body-heart);
  transition: fill .3s linear 0.06s; 
}

.is-liked .heart {
  animation: like-skale .3s ease-in .1s alternate;
}

.is-liked .sparks {
  animation: like-shine .3s ease-in .3s alternate;
}

/* Разрешение экрана для ПК */
@media (min-width: 376px) {

  .page {
    gap: 96px;
  }

  .save__dialog[open] {
    padding: 30px 30px;
  }

  .header {
    padding-block-start: 130px;
    padding-block-end: 130px;
  }

  .main__title {
    font-size: clamp(18px, 2.5vw, 23px);
  }

  .content {
    gap: 55px;
  }


  .info__block {
    gap: 21px;
  }

  .modal__button {
    inline-size: 287px;
  }

  .save__button {
    flex-direction: row;
    inline-size: 335px;
    block-size: 55px;
  }

  .save__section { 
    padding-block-start: 52px;
  }
}