/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main--text: 'Inter', Arial, Helvetica, sans-serif;
    --alt--text: 'PressStart2P', 'Courier New', Courier, sans-serif;
    --Themes-mainColor: rgba(0, 0, 0, 1);
    --Themes-altColor: rgba(255, 255, 255, 1);

    --main--font--wdth: 410;
    --alt--font-wdth: 715;
    --page-gradient:   repeating-linear-gradient(
      to right,
      #d3d3d3 0px,
      #d3d3d3 1px,
      transparent 1px,
      transparent 2px
    ),
    
    repeating-linear-gradient(
      to bottom,
      #d3d3d3 0px,
      #d3d3d3 1px,
      transparent 1px,
      transparent 2px
    ),
    
    linear-gradient(
      180deg,
      #e7e7e7 0%,
      #e7e7e7 0.01%,     
      #1a1a1a 100%
    );

    --padding-text: 25px;
    --text-size: 18px;
    --width--size: clamp(375px, 260.56px + 30.52vw, 700px);

    --like-icon-color: var(--Themes-mainColor);
    --like-heart-color: red;
    --label-stroke-color: #ffffff;
    --button-bg-color: #000000;
    --button-text-color: #ffffff;




    
    --color-body-heart: #ff0000;
    --color-none-body-heart: rgba(255, 0, 0, 0);
    --accent-color: #000;
}
